<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @portfolio.text %>
</p>

<p>
 

  <%= image_tag @portfolio.avatar.url %>
</p>

 
<%= link_to 'Terug', portfolios_path %>
