-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar
    
  .top-bar-section
    %ul
      = render 'layouts/navigation_links'
